/* Style the table */
.container{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
#myTable {
    border-collapse: collapse;
    width: 100%;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 8px;
  }
  
  #myTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #myTable th {
    background-color: #007aff;
    color: white;
  }
.status{
    width: 4rem;
    border: none;
    height:26px;
  }
  /* Style the action buttons */
  /* .edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  } */
  .active-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .active-button:hover {
    background-color:#32CD32;
  }
  
  .deactive-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .deactive-button:hover{
    background-color: #FF6347;
  }
  /* pagination */
  .pagination {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  
  .pagination a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid #469af3;
    margin: 0 4px;
  }
  
  .pagination a:hover {
    background-color:#1a6ec9;
  }
  .page-link .active{
    background-color:#007aff;
    color: white;
    border: 1px solid #007aff;
  }
  /* .pagination a:active {
    background-color:#007aff;
    color: white;
    border: 1px solid #007aff;
} */
  /* .pagination .active {
    background-color:#007aff;
    color: white;
    border: 1px solid #007aff;
  } */
  /* Style for search field */
.search-field {
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 10px;
}

/* Style for search button */
.search-button {
  padding: 10px;
  margin-bottom: 15px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

/* Hover effect for search button */
.search-button:hover {
  background-color: #0069d9;
}
.filter-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-form label {
  margin-right: 10px;
}

.filter-form select {
  margin-right: 10px;
}

.filter-form button {
  margin-left: auto;
}
